body,
html {
  /* height:100%; */

  margin: 0px;
  padding: 0px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #cfcfcf;
}

nav ul li {
  list-style-type: none;
  display: inline;
  margin-left: 20px
}

main {
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  height: auto;
}

.store-item {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  grid-row-start: 3;
  background-color: #cfcfcf;
  text-align: center;
}
